.footer {
  align-items: center;
  padding: 67px 0 60px 0;
}

.footer__copyright {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(84, 84, 84);
  opacity: 0.7;
  margin: 0;
  line-height: 18px;
}
@media screen and (max-width: 653px) {
  .footer__copyright {
    margin-left: 0;
  }
}

@media screen and (max-width: 652px) {
  .footer__copyright {
    margin-left: 23px;
  }
}

@media screen and (max-width: 620px) {
  .footer__copyright {
    margin-left: 15px;
  }
}
