.header {
  width: 126px;
  border-bottom: 1px solid #545454;
}

.header__image {
  height: 33px;
  width: 173px;
  object-fit: contain;
  margin-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header__image {
    margin-left: 27px;
    height: 24px;
    width: 126px;
    margin-bottom: 32px;
  }
}
